.container{
  margin:150px;
}

.container p{
  transform: translateX(-100%);
  transition: transform 0.5s linear;
}

.container p.active{
  transform: translateX(0);
}

.cover{
  position:fixed;
  top:150px;
  bottom:150px;
  left:50px;
  right:50px;
  opacity: 0.3;
  background-color:pink;
}

.rootElement{
  position:fixed;
  top:250px;
  bottom:250px;
  left:100px;
  right:100px;
  opacity: 0.3;
  background-color:blue;
}
